{
  	"presets": [
    	["env", { 
        "modules": false,
        "targets": { "uglify": false } 
      }],
    	"react"
  	],
  	"plugins": [
      "lodash",
    	"transform-object-rest-spread",
    	"transform-class-properties"
  	],
  	"env": {
		"node": {
      "presets": [
        ["env", { 
          "targets": { "node": "current" } 
        }],
        "react"
      ],
			"ignore": ["**/*.less", '__tests__'],
			"plugins": [
				[ "babel-plugin-transform-require-ignore", { "extensions": [".less"] } ]
			]
		}
	}
}